
@using Domain.Entities
@model List<Product>

<main class="container-fluid" id="mainContainer">
    <div class="card-group">
        @foreach (Product product in Model)
        {
            <div class="card">
                <div class="image-container">
                    @* <img src="img/desserts/donut.png" class="card-img-top vw-25" style="width:auto !important" ; alt="..."> *@

                </div>
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Price</p>
                    <div class="quantity-container">
                        <button class="quantity-btn btn-outline-success" onclick="updateQuantity('@product.Id',-1)">-</button>
                        <span class="quantity" id="quantity-@product.Id">1</span>
                        <button class="quantity-btn btn-outline-success" onclick="updateQuantity('@product.Id',1)">+</button>
                    </div>
                    <br />
                    <div class="overlay">
                        <button class="btn btn-dark" onclick="addToCart('@product.Id')">Sepete Ekle</button>
                    </div>

                </div>
            </div>

        }
    </div>

</main>