@model UserVM
@{
    ViewData["Title"] = "Bilgiler";
}


<h3>Kullanıcı adı</h3>
<h3>@Model.Name @Model.SurName</h3>
<h3>E Mail</h3>
<h3>@Model.EMail</h3>
<h3>Adress</h3>
<h3>@Model.Address</h3>
<h3>Password</h3>
<h3>@Model.Password</h3>
