@using Domain.Entities
@model List<Menu>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boş Şablon - GurmeBurger</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/site.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
        }

        header {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
        }

        main {
            padding: 20px;
        }

        footer {
            background-color: #343a40;
            padding: 10px;
            text-align: center;
            color: #fff;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <header>
        <h2>Title</h2>

    </header>

    <main class="container-fluid" id="mainContainer">
        <div class="card-group">
        @foreach(Menu menu in Model)
        {
                <div class="card">
                    <div class="image-container">
                       @*  <img src="img/desserts/donut.png" class="card-img-top vw-25" style="width:auto !important" ; alt="..."> *@
                        
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@menu.Name</h5>
                        <p class="card-text">@menu.Description</p>
                        <div class="quantity-container">
                            <button class="quantity-btn" onclick="updateQuantity('@menu.Id', -1)">-</button>
                            <span class="quantity" id="quantity-@menu.Id">1</span>
                            <button class="quantity-btn" onclick="updateQuantity('@menu.Id', 1)">+</button>
                        </div>
                        <br />
                        <div class="overlay">
                            <button class="btn btn-dark" onclick="addToCart('@menu.Id')">Sepete Ekle</button>
                        </div>
                        
                    </div>
                </div>
         
        }
    </main>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
